body {
    margin: 0;
    padding: 0;
}

.window {
    width: 400px;
    border-radius: 15px;
    margin: 50px;
}

.head {
    background: blue;
    height: 30px;
}

.body {
    padding: 20px;
    background: lightgray;
}
.summand {
    width: 30px;
}

.action {
    padding: 0 5px;
}